sirus-gtask-auth-client_secret_1083428062171-3q0nhncaicrq0o8ff6ktr35bpi9v11tv.apps.googleusercontent.com.json
*.pyc
*/__pycache__/*
suresh_int_client_secret_907170957481-akgrvhj968mk5lkr2g3dt6p56qj2vv3f.apps.googleusercontent.com.json
gtasks_cli/src/gtasks_cli/core/__pycache__/*
gtasks_cli/dist/*.whl
gtasks_cli/dist/*.tar.gz
